/* 改变主题色变量 */
// $--color-primary:#1890FF;

// /* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";
.el-table th {
  padding: 3px 0 2px;
}

.el-table td {
  padding: 8px 0;
}

.el-table thead th {
  background: #F2F2F2;
}

.el-button--primary {
  background: #1890ff;
}

.el-select-dropdown__item {
  color: #999;
}

.el-range-editor.el-input__inner {
  padding: 18px 10px;

  .el-input__icon,
  .el-range-separator {
    height: auto;
  }
}

.el-input__inner {
  color: #333;
  padding: 18px 10px;
  height: 38px;
  line-height: normal;
  border: 1px solid #eee;
  border-radius: 3px;
  -webkit-user-select: text;

  &:focus {
    padding: 2px 10px;
  }

  &:focus,
  &:hover {
    border: 1px solid #1890ff;
  }

  .el-range-input {
    height: auto;
  }
}

.el-pagination {
  .el-input__inner {
    color: #333;
    padding: 12px 10px;
  }
}

.el-textarea__inner {
  border: 1px solid #eee;

  &:focus,
  &:hover {
    border: 1px solid #1890ff;
  }
}

.el-button {
  padding: 11px 20px;
  border-radius: 3px;
}

.cell {
  .el-button {
    padding: 0;
  }
}

.el-tooltip__popper.is-light {
  border: 1px solid #eee;
  color: #999;
}

.el-form-item {
  margin-bottom: 10px;
}

// .tables-box  {
//   height: 100%;
//   &.billingManagement {
//     .table-list {
//       height: 90%;
//       .member-table {
//         height:58%;
//         .el-table  {
//           height: 100%;
//           .el-table__body-wrapper {
//             height: 100%;
//           }
//         }
//       }
//     }
//   }
// }
// .table-list {
//   height: 100%;
//   .member-table {
//     height: 60%;
//     .el-table  {
//       height: 100%;
//       .el-table__body-wrapper {
//         height: 100%;
//       }
//     }
//   }
// }