/* 改变主题色变量 */
// $--color-primary:#1890FF;

// /* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";
.el-table th {
  padding:3px 0 2px;
}
.el-table td {
  padding:8px 0;
}
.el-table thead th{
  background: #F2F2F2;
}
.el-button--primary {
  background: #1890ff;
}
.el-select-dropdown__item {
  color: #999;
}
.el-input__inner {
  color: #333;
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #eee;
  border-radius:3px;
  &:focus,&:hover {
    border:1px solid #1890ff;
  }
}
.el-button {
  padding: 11px 20px;
}
.cell {
  .el-button {
    padding: 0;
  }
}
.el-tooltip__popper.is-light {
  border: 1px solid #eee;
  color: #999;
}
.el-form-item {
  margin-bottom: 10px;
}