.teamMessage {
  padding-bottom: 30px;
  &.create-orderTaking-view {
    // margin-bottom: 100px;
    // padding-bottom: 140px;
    .create-orderTaking {
      padding: 50px 6px;
    }
  }
  .el-form-item {
    margin-bottom: 22px;
  }
  .team-box {
    margin-bottom: 20px;
  }
  .title {
      width: 100%;
      height:44px;
      line-height: 44px;
      font-size:14px;
      color: #333;
      padding-left: 15px;
      background:#fff;
      box-shadow:0px 4px 4px 0px rgba(106,106,106,0.1);
      border-radius:5px;
      margin-bottom: 20px;
    }
    .teamMessage-form-row {
      background:#fff;
      margin:  0 auto;
      padding: 20px 6px;
      border-radius: 10px;
      .teamMessage-form {
        width: 50%;
        margin: 0 auto;
        font-size: 14px;
        .width408 {
          width: 408px;
        }
        .width60 {
          width: 60px;
        }
        .width150 {
          width:150px;
        }
        .landline {
          width:20px;
          height:1px;
          background: #6a6a6a;
          margin: 0 10px;
        }
        .company-tel {
          position: relative;
        }
        .landline-tip {
          position: absolute;
          top: 0;
          right: 0;
          color: #999999;
          font-size: 14px;
        }
        .el-input__inner {
          height: 38px;
          line-height: 38px;
          border: 1px solid #eee;
          border-radius: 0;
        }
        .team-address {
          margin-top: 5px;
        }
      }
      .avatar-uploader .el-upload {
        background: #eee;
        border-radius: 3px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        color: #999999;
        font-size: 14px;
        width:91px;
        height:91px;
        >p {
          margin-top: -10px;
        }
      }
      .uploader-card {
        display: inline-block;
        margin-right: 20px;
        .idcard-text  {
          color:#6A6A6A;
          text-align: center;
          font-size: 14px;
        }
      }
      .avatar-uploader .el-upload:hover {
        border-color: #1890ff;
      }
      .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        text-align: center;
        color: #999999;
        font-size: 42px;
        margin-top: 10px;
      }
      .avatar {
        width:91px;
        height:91px;
        display: block;
      }
    }
    .card-uploader-icon {
      width: 162px;
      height: 128px;
    }
    .idcard-tip {
      position: absolute;
      right: -100px;
      top: 30px;
      font-size: 14px;
      color: #999;
    }
    .teamMessage-btn {
      padding-top: 30px;
      padding-bottom: 36px;
      .el-button {
        margin-right: 35px;
      }
    }
}