@import './common.scss';
.header {
  width:100%;
  height:49px;
  background:rgba(50,55,62,1);
  color:#fff;
  font-size:14px;
  span{
    font-weight:bold;
    color:#1890FF;
    margin-right:30px;
  }
  .header-left {
    font-size:26px;
    display: inline-block;
  }
  .welcome {
    font-size:14px;
    margin-left:8px;
    color: #fff;
  }
  .home-purple-left {
    color: #fff;
    font-weight:normal;
  }
  .el-icon-phone-outline {
    line-height: inherit;
  }
}
.orderTaking-header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.home-aside{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.nav {
  display: inline-block;
  .nav-item {
    position: relative;
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    font-weight:normal;
  }
  .nav-item.active {
    color:#1890FF;
  }
  .line {
    width:30px;
    height:3px;
    background:#1890FF;
    position:absolute;
    left:15px;
    bottom: 0;
  }
}
.divider {
  color:rgba(255,255,255,0.2);
  margin-left:8px;
}
.home-main-content{
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background:rgba(248,248,248,1);
}
.home-main-box {
  width: 1200px;
  margin: 20px auto;
  .search-main-box {
    width: 80%;
    margin: 0 auto;
  }
  .orderTaking-main-row {
    .orderTaking-main-col1{
      background: #fff;
    }
  }
}
// .home-main-content .el-input__prefix {
//   padding:5px 10px;
//   left:10px;
//   top:5px;
//   color:#6A6A6A;
// }
// .home-main-content .el-input-group {
//   box-shadow:0px 1px 6px 0px rgba(88,88,90,0.1);
// }
// .home-main-content .el-input__inner {
//   padding:14px 10px;
//   border-radius: 0;
//   display:inline-block;
// }
// .home-main-content .el-input--prefix .el-input__inner {
//   padding: 20px 110px;
//   background-color: none;
//   float: left;
// }
.home-main-content .el-input--suffix .el-input__inner {
  background-color: none;
}
.home-main-more {
  width:391px;
  height:38px;
  border:1px solid rgba(24,144,255,1);
  border-radius:5px;
  margin: 0 auto 10px;
  color: #1890FF;
  margin-left: 35%;
}
.home-main-more-right {
  width: 100%;
  img {
    width: 10px;
    height: 10px;
  }
}
.home-box{
  background: #ffffff;
  height: calc(100% - 20px);
  padding: 10px;
}
// 轮播图
.home-img-box {
  height:290px;
  .grid-content {
    height:290px;
    margin:22px 0;
    width:100%;
  }
  .bg-purple-img-right {
    height:144px;
    width:100%;
    // background:  url('../assets/img/right.png') no-repeat left center;
    // background-size: cover;
    margin-bottom:2px;
    >img {
      height:144px;
      width:100%;
    }
  }
  .bg-purple-img-right1 {
    >img {
      height:100%;
      width:100%;
    }
    // background:  url('../assets/img/right1.png') no-repeat left center;
    // background-size: cover;
  }
  .bg-purple-img {
    height:290px;
    width:100%;
    >img {
      height:100%;
      width:100%;
    }
    // background:  url('../assets/img/img.jpg') no-repeat left center;
    // background-size: cover;
  }
  .bg-purple-right {
    margin:22px 0 22px 2px;
  }
}
.home-main-title {
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #EEEEEE;
  img {
    max-width:23px;
    padding-right:5px;
  }
}
.home-main-list {
  padding:20px 0;
  font-size:16px;
  .home-main-list-title {
    padding-bottom:5px;
  }
  .home-list-title-active {
    color:#FE2A00;
  }
  .el-card__header {
    padding:0;
  }
  .el-card__body {
    padding:15px 0;
    font-size:14px;
  }
  .handle-btn {
    float: right; 
    padding: 3px 8px; 
  }
}
.box-card {
  padding: 15px;
  box-shadow:2px 5px 17px 0px rgba(51,51,51,0.2);
  border-radius:5px;
  height: 135px;
  position: relative;
  margin-bottom: 20px;
  .clearfix {
    padding-bottom: 10px;
  }
}
.home-list-clearfix {
  line-height:30px;
  font-size:14px;
  color: #6A6A6A;
}
.home-list-clearfix-active{
  color:#1890FF;
}
.grid-information-title {
  font-size:16px;
  line-height:30px;
  &:hover{
    color: #1890FF;
  }
}
.grid-information-card {
  background: #fff;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  height:175px;
  font-size:16px;
  padding:0 12px;
  .grid-information-img {
    width:230px;
    height:145px;
  }
  .grid-information {
    width:360px;
    height:100%;
    margin-top:30px;
    padding-left:15px;
  }
  .grid-information-content {
    font-size:14px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color:#6A6A6A;
  }
}
.home-main-section {
  margin-bottom: 20px;
}
.footer {
  background: #fff;
}
.home-main-section-footer {
   width: 1200px;
   margin:40px auto;
   font-size:16px;
}
.home-footer-box {
  color:#6A6A6A;
  line-height:36px;
}
.home-footer-box1 {
  text-align: right;
}
.home-footer-box li{
  font-size:14px;
}
.home-footer-box .home-footer-title {
  font-size:16px;
  font-weight:bold;
}
.home-footer-box1 .home-footer-title{
  margin-right:30px;
}
.home-footer-img {
  width:142px;
}
.fixed {
  position: fixed;
  right: 50px;
  bottom: 36%;
}
.fixed li {
  width:50px;
  height:50px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(238,238,238,1);
  box-shadow:0px 2px 10px 0px rgba(70,70,70,0.1);
  border-radius:5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed .help {
  background: #1890FF;
}
