@import './home.scss';
.orderTaking {
  background: #EEEEEE;
}
.orderTaking-main-content{
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding:0;
  .orderTaking-grid-content {
    background: #fff;
    min-height: 600px;
  }
  .orderTaking-search {
    width:100%;
    background:#fff;
    padding-top: 30px;
    box-shadow:0px 1px 13px 0px rgba(4,4,4,0.15);
  }
  .el-input__prefix {
    padding:5px 10px;
    left:10px;
    top:5px;
    color:#6A6A6A;
  }
  .el-input__inner {
    padding:14px 10px;
    border-radius: 0;
    display:inline-block;
  }
  .el-input--prefix {
    .el-input__inner {
      padding: 20px 110px;
    }
  }
}
.orderTaking-main-box {
  margin: 0 auto;
  width: 780px;
}
.orderTaking-search-list {
  margin: 20px auto;
  width: 1200px;
  .orderTaking-search-query {
    font-size:14px;
    border-bottom : 1px solid #EEEEEE;
    padding:10px 0;
    .orderTaking-search-label {
      display: inline-block;
      width: 50px;
      color:#333333;
    }
    .orderTaking-search-value {
      overflow: hidden;
      width: 92%;
      li {
        padding: 2px 6px;
        display: inline-block;
        color: #6A6A6A;
        margin-right: 5px;
      }
      .active {
        background:rgba(220,238,254,1);
        border-radius:5px;
        color: #1890FF;
      }
    }
    .orderTaking-more {
      margin-left: 20px;
      padding: 0;
    }
  }
  .orderTaking-search-select {
    // padding-top: 10px;
    .el-input {
      box-shadow: none;
      margin-top: 5px;
    }
    .el-input__inner {
      border: none;
      color: #FE2A00;
      &::-webkit-input-placeholder {
        color: #333;
      }
    }
    .el-input__icon {
      line-height: 1;
    }
    .clear {
      text-align: right;
      color: #6A6A6A;
      width: 200px;
      font-size: 12px;
      // padding-top: 4px;
    }
    .el-select {
      width: 120px;
      margin-right: 30px;
      overflow: hidden;
    }
  }
}
.orderTaking-main-list {
  width: 1200px;
  margin: 30px auto;
  &.orderTaking-detail-content {
    margin: -140px auto 40px;
    position: relative;
    z-index: 9;
  }
  .orderTaking-main-section {
    border-bottom: 1px solid #EEEEEE;
    height: 112px;
    margin: 0 20px;
  }
  .orderTaking-main-card {
    &:hover {
      background:#F6F9FE;
    }
  }
  .orderTaking-main-row {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    line-height: 30px;
    &.orderTaking-main-row1 {
      width: 270px;
      margin-right: 10px;
      .orderTaking-main-item {
        margin: 0 10px 0 0;
      }      
    }
    .orderTaking-main-col1{
      width: 906px;
      margin-right: 14px;
    }
    .el-button--primary.is-plain {
      background: #fff;
      color: #1890FF;
      border-color: #1890FF;
      &:hover {
        background:#1890FF;
        color: #fff;
      }
    }
  }
}
.orderTaking-main-item {
  margin: 0 28px;
  li {
    font-size:12px;
    color: #6A6A6A;
    height: 30px;
    flex: 1;
    text-align: left;
  }
  &:nth-of-type(2) {
    li {
      &:nth-of-type(2){
        text-align: right;
      }
    }
  }
  .el-tag {
    margin-right: 4px;
  }
  .orderTaking-icon {
    width: 33px;
    height: 11px;
    margin: 0 5px;
  }
  .job-name {
    font-size:16px;
    color: #1890FF;
    width: 120px;
  }
  .company-name {
    font-size:14px;
    color: #1890FF;
    .ctime {
      font-size: 12px;
      color: #6A6A6A;
    }
  }
  .company-name1 {
    color: #333;
    font-size:14px;
    &:hover{
      color: #1890FF;
    }
  }
  .require-number {
    color: #FE2A00;
  }
}
.orderTaking-main-col {
  display: flex;
  justify-content: flex-start;
  width: 390px;
}
.orderTaking-main-row .orderTaking-main-col2{
  width: 284px;
  .job-title {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    text-align: center;
    color: #1890FF;
    padding: 10px 0;
  }
}
.orderTaking-main-col2 .grid-content{
  border-radius: 0;
}
.orderTaking-main-row .bg-purple-light {
  background: #fff;
  margin-bottom: 20px;
}
.orderTaking-login {
  height: 375px;
}
.orderTaking-main-history {
  padding:5px 0;
  border-bottom: 1px solid #eee;
  &:nth-last-of-type(1) {
    border-bottom: none;
  }
  .company-name1, .company-name {
    width: 150px;
  }
}
.pagination {
  text-align: center;
  padding: 20px;
}