.salary-rebate {
  padding-bottom: 20px;
  .width500 {
    width: 500px;
  }
  .width700 {
    width: 700px;
  }
  .width110 {
    width: 110px;
    margin: 0 20px;
  }
  .reward_type {
    margin-bottom: 10px;
  }
  .error {
    top: -16px;
    &.reward-error {
      width: 300px;
      left: 360px;
      top: -10px;
      ul {
        margin-left:5px;
        font-size:12px;
        line-height: 20px;
      }
    }
  }
  .el-scrollbar__wrap {
    width: 180px;
    .text-input {
      overflow: hidden;
      border: none;
      padding: 0 0 0 20px;
    }
  }
}
.width160 {
  width: 160px!important;
  margin-right: 30px;
  &.el-select  {
    >.el-input{
      width: 160px!important;
      margin-right: 0;
    }
  }
  .moneyType {
    color: #333;
  }
  .el-input-group__append,.el-input-group__prepend {   
    border:none;
    border-radius: 0;
    background: none;
    padding: 0;
    background-color:none;
  }
}
.text-input {
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #eee;
  height: 38px;
  .el-input__inner {
    padding: 0 ;
    height: 37px!important;
    line-height: 37px!important;
    text-align: center;
    border: none!important;
  }
}
.width160 {
  &.reward-input {
    margin-right: 0;
  }
  .text-input {
    border: none;
    border-bottom: 1px solid #eee;
  }
}